
  <h2>Search Books</h2>
  

  

<select id="toSort">
  <option value="TIT" selected>Title</option>
  <option value="AUT">Author</option>
  <option value="VAL">Price</option>
  <option value="RAT">Rating</option>
  <option value="DAT">Release</option>
</select>

<select id="sortOrder">
  <option value="0">Descending</option>
  <option value="1" selected >Ascending</option>
</select>

<select id="minRating">
  <option value="0" selected>All Books</option>
  <option value="1">1 Star and Up</option>
  <option value="2">2 Star and Up</option>
  <option value="3">3 Star and Up</option>
  <option value="4">4 Star and Up</option>
  <option value="5">5 Star and Up</option>
</select>

<select id="bestSeller">
  <option value="1">Best Sellers</option>
  <option value="0" selected>Any</option>
</select>

<select id="genre">
  <option value="1">Best Sellers</option>
  <option value="0" selected>Any</option>
</select>
<button (click) = "sort()">SORT</button>

<ul class="books">
  <li *ngFor="let book of booksToDisplay"
    [class.selected]="book === selectedBook"
    (click)="onSelect(book)">
    <span class="badge">{{book.price}}</span> {{book.title}}  

  </li>
</ul>