<h1>{{title}}</h1>
<div class="topnav">
    <a class="active" href="#home">BookScript</a>
    <a routerLink="/profile">Profile</a>
    <a routerLink="/books">Search Books</a>
    <a routerLink="/wish">Wish Lists</a>
    <a routerLink="/shop">Shop Cart</a>
    <a routerLink="/details">Book Details</a>
    <input type="text" placeholder="Search..">
  </div>
  <div class="navbar">
    <a href="#home" class="active">BookScript</a>
    <a href="#news"></a>
    <a href="#contact"></a>
</div>
<router-outlet></router-outlet>